.add-product {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 30px;

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(0 0 0 / 92%);
    }

    &__body {
        position: relative;
        z-index: 2;
        margin: auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
    }

    &__name {
        margin-bottom: 15px;
    }

    &__description {
        margin-bottom: 15px;
    }

    &__field {
        width: 100%;
        border: 1px solid #dddddd;
        padding: 10px 15px;
        border-radius: 5px;
        outline: none !important;

        &.error {
            border-color:red;
        }
    }

    &__label {
        display: block;
        margin-bottom: 15px;
    }

    &__button {
		border: 0;
        border-radius: 20px;
        padding: 15px;
        color: #fff;
        font-weight: 700;
        background-color: #557de2;
        width: 100%;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #4072f1;
        }
    }
}